div{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: bisque;
}
button{
    height: 100px;
    width: 350px;
    border-radius: 30px;
    background-color: transparent;
    border: 2px solid brown;
}
button, p{
    color: azure;
    font-size: larger;
    font-weight: bolder;
    font-family: Helvetica, sans-serif;
}
@media  screen and (max-width: 650px) {
    button, p{
        text-align: center;
        font-size: 15px;
        padding: 8px;
        font-weight: 700;
        height: 17vh;
        width: 80vw;
        border-radius: 55px;
    } 
}